# Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
